@use '../utilities/variables' as var
@use '../utilities/mixin' as mixin

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: monospace
  list-style: none

.container
  aside
    form
      text-align: center
      .container-selection
        .equipamiento
          margin: var.$mv_btn
          label
            cursor: var.$cursor
        select
          @include mixin.select_standard
        .level
          display: flex
          flex-direction: column
          margin: var.$mv_btn
          label
            display: flex
            align-items: center
            justify-content: space-between
            width: 110px
            margin: 5px auto
            cursor: var.$cursor
      button
        @include mixin.button_standard

  main
    position: relative
    ul
      li
        @include mixin.card_standard
        img
          max-width: 100%
          max-height: 180px
  .message
    background-color: red
    color: white
    padding: 5px
    border-radius: 20px
    position: absolute
    bottom: 10px
    left: 50%
    transform: translateX(-50%)
