// Background
$background-button: none

// Borde
$border-radius: 20px
$border: 1px solid #424242

// Margin
$margin-vertical-small: 10px 0
$margin-vertical-big: 50px 0

// Padding
$padding-vertical-5: 5px 0