// Colores
$color_botones: none
$color_textos: #828282
$color_bordes: #DDD
$color_sombras: #DDD

// Bordes
$borde-botones: none

// Sombras
$sombra-botones: 0px 2px 2px 2px $color_sombras

// Curvas de bordes
$curva-bordes-botones: 20px

// Margenes internos
$padding-botones: 5px 10px

// Margenes externos
$mv-btn: 20px